.company-stock {
  display: flex;
  flex-direction: column;
  padding: 0px 15px 5px 0px;
  margin: 0px 15px 15px 5px;
  border-right: 2px solid rgba(0, 0, 0, 0.1);
}

.company-stock .name {
  font-size: 22px;
}

.company-stock .code {
  font-size: 15px;
}

.company-stock .price {
  font-size: 18px;
}

.up-and-down {
  display: flex;
  align-items: center;
  padding: 3px 0px 0px 3px;
  width: 8px;
}

.up-and-down p {
  font-size: 14px;
  margin: 0px 4px;
}
