.nav-body {
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: "Pretendard", sans-serif;
}

.me-auto .my-2 .my-lg-0 {
  max-height: 100px;
}

.searchForm {
  display: flex;
  flex-direction: column;
  position: relative;
}

.includedSearchForm {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid #000000;
  background-color: white;
  border-radius: 0 0 10px 10px;
  padding: 10px;
}

.includedSearchForm a {
  text-decoration: none;
  color: black;
}