.ogong-info {
  margin-bottom: 10px;
}

.ogong-header {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 40px;
}

.ogong-header h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.ogong-header .ogong-description {
  display: flex;
  gap: 3px;
}

.ogong-description p {
  margin-bottom: 0;
  font-size: 12px;
  color: #474747;
}

.ogong-bar-container {
  position: relative; /* Ensure the container is the reference for absolute positioning */
  padding-bottom: 35px;
}

.ogong-bar {
  background: linear-gradient(to right, #ff0000, #8000ff);
  width: 100%;
  height: 16px;
  position: relative; /* Ensure the bar is the reference for the rate indicator */
}

.ogong-bar-chart {
  width: 100%;
  height: 16px;
}

.ogong-lines {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  top: -5px;
}

.ogong-lines p {
  font-size: 12px;
  color: #474747;
  font-weight: 600;
}

.ogong-rate {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 22px;
  transform: translateX(-50%); /* Center the rate indicator */
}

.ogong-rate p {
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 700;
}

.ogong-rate img {
  width: 45px;
  border: 1px solid black;
  border-radius: 100%;
}
