.custom-separator {
  color: gray; /* 텍스트 색상 변경 */
}

.cs-message-separator::before,
.cs-message-separator::after {
  background-color: rgba(0, 0, 0, 0.1); /* 구분선 색상 변경 */
}

.cs-conversation-header {
  background-color: #f6f6f6;
}

.cs-conversation-header__content .cs-conversation-header__user-name {
  background-color: #f6f6f6;
}

.cs-conversation-header__content .cs-conversation-header__info {
  background-color: #f6f6f6;
}

.cs-conversation-header__content .cs-conversation-header__info {
  font-size: 13px;
}

.cs-message {
  overflow: visible;
}

.cs-message--incoming .cs-message__content {
  background-color: #f6f6f6;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.cs-message--outgoing .cs-message__content {
  background-color: #f6f6f6;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.cs-message.cs-message--incoming.cs-message--single:not(:first-child) {
  margin-top: 10px;
}

.cs-message.cs-message--outgoing.cs-message--single:not(:first-child) {
  margin-top: 10px;
}

.cs-message__footer {
  margin: 4px 0 2px 0;
  font-size: 12px;
}

.cs-message-input__content-editor-wrapper {
  background-color: #f6f6f6;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.cs-message-input__content-editor {
  background-color: #f6f6f6;
}

.cs-button--attachment {
  color: lightgray;
}

.cs-button--send {
  color: lightgray;
}

.cs-button:not(:disabled) {
  cursor: pointer;
}

.cs-button.cs-button--send:hover {
  color: gray; /* 텍스트 색상 변경, 필요시 */
  cursor: pointer; /* 마우스 포인터를 pointer로 변경 */
}

.cs-message__sent-time--incoming .cs-message__sent-time {
  margin-left: 0;
}
